body{
    font-family: 'Oxygen', sans-serif;
    background: #BCA7B4;
    
}

.navbar-item {
    color: #A63A50;

}

.navbar.nav-link {
    text-transform: none;
    font-size: 15px;
    padding-right: 16px !important;
    padding-left: 16px !important;
}

.navbar-toggler{
    outline: none !important;
    
}

<!Nav..........>
<!Nav End..........>

#main-image {
    width 100%;
    height: 500%;
    animation-fill-mode: both;
    animation duration: 4s;
    animation-name: hero-zoom;

}

<!Slideshow........>
<!Slideshow Ends........>

<!Cakes Options....>
<!Cakes Options Ends.....>


<!Notes....>
<!Notes Ends....>


<!Gallery.....>
<!Gallery Ends.....>


<!About Pam.......>
.poppam-section {
   position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 500px;
    height: 500px;
    box-sizing: border-box;
    box-shadow: 0 0 30px blue;
    border-radius: 10px;
    text-align: center;
    padding: 40px 40px;
}


.notes {
    font-size: 14px;
    line-height: 40px;
    text-align: justify;
    margin-bottom: 40px;
    color: blue;
}

.cakes {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: blue;
}
<!About Pam Ends.......>


<---!contact us--->
.pop-message {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
    box-shadow: 0 0 30px blue;
    border-radius: 10px;
    text-align: center;
    padding: 40px 40px;
}


.pop-message h2{
    margin-top: 0;
    text-align: center;
}

.contact {
    margin: 8px 0;
    padding: 12px 18px;
    border-radius: 5px;
    border: 2px solid #FFA6C1;
}

.contact label {
    text-align: left;
    text-transform: Uppercase;
    display: block;
}

.contact input, .contact textarea {
    border: none;
    background: none;
    outline: none;
    margin-top: 5px;
    font-size: 20px;
    width: 100%;
}

.button {
    display: inline-block;
    padding: 15px 0;
    color: blue;
    cursor: pointer;
    text-transform: Uppercase;
    margin-top: 5px;
    width: 100%;
}
<!contact us Ends....>

<---Footer--->
footer {
    background: #BCA7B4;
   }

.social-media {
    text-align: center;
}
.social-media li {
    display: inline;
}

.social-media i {
    font-size: 100%;
    padding: 6%;
    margin: 0.5%;
    text-align: center;
}
