body{
    font-family: 'Oxygen', sans-serif;
    background: rgb(240, 151, 206);
    
}

img.slider{
    width: 100%;
    height: 500px;
    

}

.section_padding{

    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

.navbar {
    box-shadow: 0 0 30px rgba(0, 111, 255, 0.53);
}

.navbar-brand {
    font-size: 40px;
    color: #413c3c;
}


.nav-item {
    color: rgb(182, 69, 91);

}

.navbar.nav-link {
    text-transform: none;
    font-size: 20px;
    padding-right: 16px !important;
    padding-left: 16px !important;
}

.navbar-toggler{
    outline: none !important;
    
}

.carousel.slide {
    box-shadow: 0 0 30px rgba(0, 111, 255, 0.53);
}

.carousel-caption {
       color: rgb(28, 59, 99);

}
img {
    vertical-align: middle;
    box-shadow: 0 0 30px rgba(0, 111, 255, 0.53);
}


.contact {
    margin: 8px 0;
    padding: 12px 18px;
    border-radius: 5px;
    border: 2px solid #FFA6C1;
}

.contact label {
    text-align: left;
    text-transform: Uppercase;
    display: block;
}

.contact input, .contact textarea {
    border: none;
    background: none;
    outline: none;
    margin-top: 5px;
    font-size: 20px;
    width: 100%;
}

.button {
    display: inline-block;
    padding: 15px 0;
    color: black;
    cursor: pointer;
    text-transform: Uppercase;
    margin-top: 5px;
    width: 100%;
}

footer {
    box-shadow: 0 20PX 20PX rgba(0, 111, 255, 0.53);
}

.social-media {
    text-align: center;
}
.social-media li {
    display: inline;
}

.social-media i {
    padding: 6%;
    margin: 0.5%;
    text-align: center;
    font-size: 30px;
    box-shadow: 0 20PX 20PX rgba(0, 111, 255, 0.53);
}

.container{
    box-shadow: 0 0 30px rgba(0, 111, 255, 0.53);
}

