@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

h2 {
    font-family: Montserrat;
    letter-spacing: 5px;
    text-transform: Uppercase;
    Color: blue;
}

img {
    overflow: hidden;
    box-sizing: border-box;
}

#temp-logo {
    font-size: 300%;
    margin-left: 40px;
    float: left;
    line-height: 60px;
}

#main-menu {
    font-size: 200%;
    letter-spacing: 5px;      
    line-height: 60px;
    list-style-type: none;   
}

#main-menu  li {
    float: right;
    margin-right: 40px
  
}

#main-menu  a {
    text-decoration: none;
    color: blue;
}

#main-menu  a:hover {
    border-bottom: 2px solid white;
}



/*home*/



.poppam-section {
   position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 500px;
    height: 500px;
    box-sizing: border-box;
    box-shadow: 0 0 30px blue;
    border-radius: 10px;
    text-align: center;
    padding: 40px 40px;
}


.notes {
    font-size: 14px;
    line-height: 40px;
    text-align: justify;
    margin-bottom: 40px;
    color: blue;
}

.cakes {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: blue;
}


.pop-message {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
    box-shadow: 0 0 30px blue;
    border-radius: 10px;
    text-align: center;
    padding: 40px 40px;
}

.pop-message h2{
    margin-top: 0;
}

.contact {
    margin: 8px 0;
    padding: 12px 18px;
    border-radius: 5px;
    border: 2px solid #FFA6C1;
}

.contact label {
    text-align: left;
    text-transform: Uppercase;
    display: block;
}

.contact input, .contact textarea {
    border: none;
    background: none;
    outline: none;
    margin-top: 5px;
    font-size: 20px;
    width: 100%;
}

.button {
    display: inline-block;
    padding: 15px 0;
    color: blue;
    cursor: pointer;
    text-transform: Uppercase;
    margin-top: 5px;
    width: 100%;
}

footer {
    height: 100px;
}

.social-media {
    text-align: center;
}
.social-media li {
    display: inline;
}

.social-media i {
    font-size: 100%;
    padding: 6%;
    margin: 0.5%;
    text-align: center;
}

