body{
    font-family: 'Oxygen', sans-serif;
    background: rgb(240, 151, 206);
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    box-shadow: 0 0 30px rgba(0, 111, 255, 0.53);
}

.navbar-brand {
    font-size: xxx-large;
    color: #413c3c;
}


.navbar .nav-item {
    text-transform: none;
    font-size: larger;
    color: white !important;
 }

.navbar-toggler{
    outline: none !important;
    
}

.ml-auto{
    margin-left: auto !important;
}


.carousel-item img {
    max-height: 500px;
    min-height: 250px;
    object-fit: cover;
}

.carousel.slide {
    box-shadow: 0 0 30px rgba(0, 111, 255, 0.53);
}

.carousel-caption {
       color: rgb(28, 59, 99);

}

.featurette-heading {
    font-size: xxx-large;
    text-align: center;
}

.text-muted {
    font-size: x-large;
}

p.styletext {
    width: 90%;
    margin-left: 5%;
    text-align: center;
}

img {
   box-shadow: 0 20PX 20PX rgba(0, 111, 255, 0.53);
}

.section_padding{

    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

.contact {
    margin: 8px 0;
    padding: 12px 18px;
    border-radius: 5px;
    border: 2px solid rgb(250, 247, 248);
}

.contact label {
    text-align: left;
    text-transform: none;
    display: block;
}

.contact input, .contact textarea {
    border: none;
    background: none;
    outline: none;
    margin-top: 5px;
    font-size: 20px;
}

form.pop-a-message {
    background-color: rgb(125, 170, 209);
}

footer {
    box-shadow: 0 20PX 20PX rgba(0, 111, 255, 0.53);
}

.social-media {
    text-align: center;
}
.social-media li {
    display: inline;
}

.social-media i {
    padding: 6%;
    margin: 0.5%;
    text-align: center;
    font-size: 30px;
    box-shadow: 0 20PX 20PX rgba(0, 111, 255, 0.53);
}

.container {
    box-shadow: 0 20PX 20PX rgba(0, 111, 255, 0.53);
    background-color:rgb(225, 224, 235);
}

